div.notice-card {
  margin: 15px 0;
  overflow: hidden;
  border-radius: 5px;
  margin-bottom: 25px;
  width: calc(100% - 4px);
  border: 2px solid #e3e8f7;
}
div.notice-card div.content-box {
  width: 100%;
  height: 175px;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-bottom: 2px solid #e3e8f7;
}
div.notice-card div.content-box div.notice-card-content {
  padding: 15px;
  color: #ffffff;
  display: flex;
  position: absolute;
  flex-direction: column;
  width: calc(100% - 30px);
  height: calc(100% - 30px);
}
div.notice-card div.content-box div.notice-card-content p.notice-card-title {
  font-size: 20px;
  overflow: hidden;
  font-weight: 500;
  line-height: 28px;
  overflow-x: scroll;
  white-space: nowrap;
  display: inline-block;
}
div.notice-card div.content-box div.notice-card-content div.notice-card-html {
  flex: 1;
  margin-top: 10px;
  overflow: hidden;
  overflow-y: scroll;
}
div.notice-card div.content-box div.notice-card-content div.notice-card-html p {
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  word-break: break-all;
}
div.notice-card div.content-box[lazy="loaded"] div.notice-card-content {
  background-color: #0003;
}
div.notice-card div.action-box {
  height: 40px;
  display: flex;
  padding: 5px 15px;
  align-items: center;
  width: calc(100% - 30px);
  background-color: #ffffff;
}
div.notice-card div.action-box span.username {
  font-size: 1rem;
  color: #000818;
  margin-left: 10px;
}
div.notice-card div.action-box span.create-time {
  margin-left: auto;
  color: var(--el-color-primary);
}
