header.app-header {
  top: 0;
  height: 65px;
  z-index: 999;
  display: flex;
  padding: 0 10px;
  position: fixed;
  align-items: center;
  box-sizing: border-box;
  width: calc(100% - 20px);
  background-color: #ffffff;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.05);
}
header.app-header span.header-title {
  margin: 0 auto;
  color: #222222;
  line-height: 65px;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
}
header.app-header div.head-btn {
  width: 30px;
  height: 100%;
  cursor: pointer;
  display: flex;
  position: absolute;
  align-items: center;
}
header.app-header div.head-btn svg {
  margin-top: 4.5px;
  transform: scale(0.95);
}
header.app-header div.back-btn {
  left: 2.5%;
}
